:root{
    --fg:#fff;
    --rowbg:#f7f7f;
    --bg:#000;
    --ca:rgb(51, 51, 202);
    --tint:rgb(92, 92, 255);
    --pd-x:50px;
    --pd-y:10px;
    --mg-x:20px;
    --mg-y:20px;
    --base-int:20px;
    --tiny-fs:0.9rem;
    --small-fs:1.2rem;
    --xlarge-fs:3.4rem;
    --large-fs:2.4rem
}
body{
    margin:0;
    padding: 0;
    background-color: var(--color2);
    color:var(--color1);
    font-size: var(--small-fs);
    font-family: Arial, Helvetica, sans-serif;
     min-height: 100vh;
    width:100vw;
      background-color: var(--bg);
        color:var(--fg)
}
a{
    text-decoration: none;
    color:var(--ca)
}
#wrapper{
   margin:0 auto;
   max-width: 1600px;
   padding:0;
}

#nav h2{
 color:var(--tint);
 margin-right: var(--mg-x);
}
#nav{
 height: 70px;
   padding:var(--pd-y) var(--pd-x);
     background-color:var(--bg);
width: 100%;

}
.tiny-font{
   font-size: var(--tiny-fs);
}
.row{
    background-color: var(--rowbg);
   padding:var(--pd-y) var(--pd-x);
}
.row.dark{
    background-color: var(--bg);
}
.flex-x{
    display: flex;
 gap:var(--base-int)  
 
}
.flex-y{
display: flex;
flex-direction: row;
gap:var(--base-int)
}

.center-x{
      justify-content: center;
}
.center-y{
  
    align-items:center ;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.space-evenly{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.no-shrink{
    flex-shrink: none;
}

.btn{
    background-color: var(--ca);
    color:var(--bg);
    padding:var(--pd-y) var(--pd-x);
    border-radius: var(--base-int);
}

@media screen and (max-width:950px){
    #wrapper{
        width:100%;
    }
    #nav{
 height: 40px;
   padding:var(--pd-y) var(--pd-y);
flex-direction: column;
}
    #nav{
 height: 40px;
   padding:var(--pd-y) var(--pd-y);
flex-direction: column;
}
}