@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root{
    --fg:#fff;
    --rowbg:#f7f7f;
    --bg:#000;
    --ca:#3a53a5;
    --tint:#647ccb;
    --bg-2:#2b2828;
    --pd-x:50px;
    --pd-y:20px;
    --mg-x:20px;
    --mg-y:20px;
    --base-int:20px;
    --small-fs:1rem;
    --tiny-fs:0.6rem;
    --xlarge-fs:2.4rem;
    --large-fs:1.4rem;
    --medium-fs:1.2rem;
    --xxlarge-fs:3rem;
    --max-full-width:1400px;
}
*{
    /* border:1px solid red; */
}
.alert{
    background-color: var(--tint);text-align: center;
   
}
body{
    padding:0;
    margin:0;
    font-size: var(--small-fs);
    color: var(--fg);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
#wrapper{
   margin:0 auto;
   max-width: var(--max-full-width);
   width:100vw;
   overflow-y: hidden;
}
.icon{
    display:inline-block;
    width: var(--base-int);
    height:var(--base-int);
    border-radius:calc(var(--base-int) / 2);
   
}
.icon.bitcoin{
     background-image: url(../images/icons/bitcoin.png);
      background-size: cover;
    background-position: center;
}
.icon.ethereum{
     background-image: url(../images/icons/ethereum.png);
      background-size: cover;
    background-position: center;
}
.icon.usdt{
     background-image: url(../images/icons/usdt.png);
 background-size: cover;
    background-position: center;
    }
h1,h2,h3,h4,h5,h6,p{
    padding:0;
    margin: 0;
     font-weight: 300;
}
.pd{
    padding:var(--pd-y)
}
.toggle-flex{
      display: flex !important;
}
a{
    text-decoration: none;
    color:var(--tint);
}
button{
    outline:0;
    border:none;
}
ul{
    padding:0;
}
ul li{
    list-style-type: none;
}
.flex-y{
    display:flex;
    flex-direction: column;
    gap:var(--base-int);
}
.flex{
    display:flex;
    align-items: center;
    gap:var(--base-int);
}
.space-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
     gap:var(--base-int);
    
}

.center-x{
       display:flex; 
      justify-content: center;
}
.center-y{
    display:flex; 
    align-items:center ;
}
.text-center{
    text-align: center;
}
.dark{
    background: var(--bg);
}
#qr-code{
    position:fixed;
    padding:var(--pd-y);
    border-radius: 10px;
    right:var(--mg-y);
    bottom:var(--mg-x);
    background-color: color-mix(in srgb, var(--tint) 90%, transparent);
}
#qr-code i{
   position: absolute;
   right:0;
   top:0;
   font-size: var(--large-fs);
}
#qr-code p{
   margin-bottom: 5px;
   margin-top: -5px;
}
#qr-code-image{
    height:80px;
    width:80px;
    background-image: url('../images/qr-code.png');
    background-position: center;
    background-size: cover;
}
#cookie-pop{
  color:var(--bg);
  padding:calc(var(--pd-y)/2);
  position: fixed;
  bottom:0;
  left:0;
  z-index: 999999999;
  background: var(--fg); 
  width: calc(100% - var(--pd-y));
}
#cookie-pop button{
   font-size:var(--small-fs)
}
.curve-input-n-btn{
    width: 100%;
    display:flex;
    justify-content: center;
    border-radius: var(--base-int);
    border:1px solid var(--tint);
    overflow: hidden;
}
.curve-input-n-btn input{
    width: 55%;
    display:flex;
    background: transparent;
    outline:0;
    border:none;
   padding:5px 20px;
   color: var(--fg);
   font-size: var(--small-fs);
}

.curve-input-n-btn button{
    width: calc(45% - 10px);
    display:flex;
    outline:0;
    border:none;
    padding:calc(var(--base-int) / 1.5);
    background-color: var(--tint);
    font-size: var(--small-fs);
   display: flex;
   justify-content: center;
}
.capsule-form-inline{
    width:70vw;
    margin:0 auto;
      border-radius: var(--base-int);
    border:1px solid var(--tint);
    padding:var(--pd-y) var(--pd-x);
    display: flex;
    flex-wrap: wrap;
    gap:var(--base-int);
    justify-content: space-between;
}
.capsule-form-inline .inner-capsule{
  flex-shrink: 0;
  width: auto;
} 

.capsule-form-inline .input{
   border-radius: var(--base-int);
    border:1px solid var(--bg);
}
.capsule-form-inline .dropdown-label{
    padding:var(--base-int);
    position: relative;
}
.capsule-form-inline .dropdown-label::after,.capsule-form-inline .capsule-input::after{
    content:"";
    width:2px;
    height:20px;
    background: #ddd;
    position: absolute;
    right:0;
    top:50%;
    transform: translate(0,-50%);
}
.capsule-form-inline .dropdown-value{
    padding:var(--base-int);
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    /* background-color: red; */
}

.capsule-form-inline .capsule-input input{
  outline: 0;
  border:none;
}

.capsule-form-inline .dropdown-value .value i{
 margin-left:5px;
}
.capsule-form-inline .options{
   
    position:absolute;
    top:110%;
    left:0;
    min-width:100%;
    padding:var(--base-int);
    background-color: var(--tint);
     display:none;
    flex-direction: column;   
    border-radius: var(--base-int);
    gap:var(--base-int);
    z-index: 20;
}
.capsule-form-inline .options span{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:var(--base-int);
    cursor: pointer;
}
.capsule-form-inline .options span.selected::after{
     content: "\F26E";
  font-family: "bootstrap-icons"; /* Required to render the icon */
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  font-size: var(--large-fs);
}
#body{
    margin-top: calc(40px + var(--pd-y)*2);
    overflow-y: auto;
    overflow-x: hidden;
    padding:0;
    max-width: var(--max-full-width);
  
}

#nav{
    position:fixed;
    top:0%;
    left:50%;
    padding:var(--pd-y) var(--pd-x);
    background-color: var(--bg);
    height:40px;
    width:100%;
    max-width: calc(var(--max-full-width) - var(--pd-x) * 2);
    transform: translate(-50%,0);
  z-index: 500;
}
#auth{
position: relative !important;
top:0;
}

#nav h2,#auth{
   margin:0 var(--base-int);
}

#auth a{
   font-size: var(--small-fs);
}
#nav h2 img{
   height: var(--base-int);
}
nav{
    width: 70%;
}
.navigation-wrapper{
    width: 80%;
    display:flex !important;
    flex-direction:row !important;
    gap:var(--base-int);
    justify-content: flex-start !important;
  
}
.navigation{
   position: relative;
}
.navigation .navigation-inner{
   position: relative;
}
.navigation .navigation-inner a span{
    white-space: nowrap; 
}
.navigation .navigation-inner a,.child {
   display:flex;
   gap:calc(var(--base-int) / 2)
}
.navigation .navigation-inner a span i{
   font-size:calc(var(--small-fs));
}
.submenu{
    display: none;
    position: absolute;
    top:200%;
    background-color: var(--bg-2);
    padding:var(--base-int);
    border-radius: var(--base-int);
    flex-direction: column;
     gap:var(--base-int)
    /* min-width:; */
}
.child{
    display: none;
    position: absolute;
    left:150%;
    top:0;
    flex-direction: column;
    background-color: var(--bg-2);
    padding:var(--base-int);
    border-radius: var(--base-int);
    gap:var(--base-int)
}
.btn{
    background-color: var(--ca);
    color:var(--fg);
    padding:calc(var(--pd-y) / 2) var(--pd-x);
    border-radius: calc(var(--pd-y) * 2);
    font-size: var(--large-fs);
    /* margin:var(--mg-y) var(--mg-x); */
    
}
.btn-left-curve{
    background-color: var(--ca);
    color:var(--fg);
    padding:calc(var(--pd-y) / 2) var(--pd-x);
    border-radius: calc(var(--pd-y) * 2) 0 0 calc(var(--pd-y) * 2);
     font-size: var(--large-fs);
}

.btn-nbg{
    background-color: transparent;
    color:var(--fg);
    border:1px solid var(--fg);
    padding:calc(var(--pd-y) / 2) var(--pd-x);
    border-radius: calc(var(--pd-y) * 2);
    font-size: var(--large-fs);
    /* margin:var(--mg-y) var(--mg-x); */
}
.no-mobile{
    display: block;
}
.no-desktop{
    display:none;
}

#menu{
    font-size: var(--xlarge-fs);
}
#banner{
   height: 500px;
   margin:0;
   padding:0;
}
#banner > div:first-child{
    flex-shrink: 0;
     padding:calc(var(--pd-y) * 4) var(--pd-x);
     width:calc(40% - var(--pd-x));
}
#banner > div:first-child h4{
    font-size: var(--xxlarge-fs);
    
}
#banner > div:nth-child(2){
       height: 100%;
 width:60%;
     flex-shrink: 0;
     background-image:url(../images/crypto-globe-desktop.png);
     background-size: cover;
     background-position: top right;
  padding:0;
     
}
#socials-link li a i{
   font-size: var(--large-fs);
}
#buy-crypto{
    color:var(--bg);
    padding: var(--pd-x) 0;
}
#buy-crypto h4{
    font-size: var(--xxlarge-fs);
   
}
.send-money-style{
    padding: var(--pd-x) 0;
    width: 100%;
    text-align: right;
    align-items: flex-start;
}
.send-money-style > div:nth-child(1){
     width: 60%;
     height: 650px;
     background-image: url(../images/page3.png);background-position: left bottom;background-size: contain;background-repeat: no-repeat;
}
.send-money-style > div:nth-child(2){
     width: 40%;
     padding-right: var(--pd-x);
}
.send-money-style div h4{
    margin-bottom: var(--base-int);
    color:var(--bg);
    font-size:var(--xlarge-fs);
}
.send-money-style div p{
    color:var(--bg);
    margin-bottom: var(--base-int);
}
.p2p-style{
    background-color: var(--bg-2);
    padding:var(--base-int);
}
.p2p-style h4{
 font-size:var(--xlarge-fs);
 text-align: center;
 margin:var(--pd-x);
}
.flex-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:5%;
}

.flex-list div{
    width:25%;
    flex-shrink: 0;
    text-align: center;
    margin-bottom: calc(var(--base-int) * 4);
}
.flex-list p{
    font-size: var(--large-fs);
    margin-bottom: var(--base-int);
     margin-top: var(--base-int);
}
.flex-list span{
    font-size: var(--small-fs);

}
.flex-list i{
    font-size: var(--xxlarge-fs);
   
}
#footer{
   color:var(--bg);
  padding:var(--pd-y) var(--pd-x);
  width: calc(100% - var(--pd-x));
}
#brand{
     display:flex;
     width: calc(100% - var(--pd-x));
     align-items: center;
     justify-content: space-between;
     padding-bottom: var(--base-int);
     border-bottom:1px solid var(--bg-2);
}
#brand h2{
 display:flex;
 align-items: center;
 color:var(--ca);
}
#brand h2 img{
   height: var(--base-int);
  }
#hot-links{
   display: flex;
   gap:200px;
   flex-wrap: wrap;
   width:100%;
}
#hot-links ul{
   flex-shrink: 0;
}
#hot-links ul{
   font-size: var(--small-fs);
}
#hot-links ul li:first-child{
   font-size: var(--large-fs);
   margin-bottom:calc( var(--base-int) / 2);
}
#hot-links ul li{
 margin-bottom: 5px;
}
@media screen and (max-width:950px){
  .navigation-wrapper{
    display:none !important;
    position: fixed;
    top:calc(40px + (var(--pd-y) * 2));
    padding:calc(var(--base-int) * 2);
    width: calc(100% - var(--base-int));
    left:0;
    background: var(--bg-2);
    flex-direction:column !important;
    z-index: 600;
    font-size: var(--large-fs);
}

.submenu,.child{
  position: relative;
}
.child{

  margin-left: -150%;
}
#nav-wrapper{
     min-height: 100vh;
    overflow-y:auto ;
}
  #nav {
    padding: var(--pd-y);
    width: calc(100% - var(--pd-y) * 2);
   
    /* position: relative; */
  }
  

.space-between.responsive,.flex.responsive{
flex-direction: column;
justify-content: flex-start;
}
.flex-y.responsive{
flex-direction: row;
justify-content: center;
}
.full-width-mobile{
    width: 100%;
}
.mobile-text-center{
  text-align: center;   
}
.no-mobile{
    display: none;
}
.no-desktop{
    display:block;
}

#socials-link{
    margin-top: var(--mg-y);
}
#banner{
    
    height: auto;
}

#banner > div:first-child{
    padding:none;
      padding:var(--pd-y);
     width:calc(100% - var(--pd-x));
}
#banner > div:nth-child(2){
       height: 300px;
   width:100%;
   padding:none;  
   background-image:url(../images/crypto-globe-mobile.png);   
}

.capsule-form-inline{
    width:90vw;
    flex-direction: column;
    padding:var(--base-int) 0; 
    
}
.capsule-form-inline .capsule-input input{
max-width:120px;
}
.send-money-style > div:nth-child(2){
    width:calc(100% - var(--pd-x));
    text-align: right;
    order: 1;
    height:50px;
}
.send-money-style > div:nth-child(1){
    width:calc(100% - var(--pd-x));
    text-align: right;
    order: 2;
}
.flex-list{
    justify-content: center;
}
.flex-list div{
   width: 70%;
   
}
#footer{

    padding:var(--base-int)
 
}
#brand{

     width: 100%;
    
}
#hot-links{
  
   gap:50px;
  
}
}

.fill{
    width: 100%;
    height: 100%;
}
.full-width{
    width:100%
}
.no-gap{
    display:flex;
    gap:none;
}

/* animations */

@keyframes rotate-180 {
    from{
      rotate:0deg;
    }
    to{
       rotate:180deg;
    }
}

@keyframes rotate-0 {
    from{
      rotate:180deg;
    }
    to{
       rotate:0deg;
    }
}


/* authenthication */
#auth-wrapper{
    width:100vw;
    height: calc(100vh - 80px);
    background: var(--bg);
    display: flex;
      margin-top: calc(40px + var(--pd-y)*2);
}
#auth-body{
width: 40%;
height: 100%;
overflow-y: auto;

}

#auth-body form{
width: 100%;
}
#auth-body h1{
font-size:var(--small-fs);

}
#auth-body h2{
font-size:var(--xlarge-fs);

}
#auth-body form .fp{
  display: block;     /* or inline-block, if needed */
  margin-left: auto;
  width: max-content;   
}
#auth-filler{
    width:60%;
    height: 100%;
    background-color: var(--bg-2);
}
.auth-sections{
    display:flex;
flex-direction: column;
gap:var(--pd-y);
    display: none;
    padding:50px 20px;
    width: calc(100% - 100px);
    
}
.auth-sections form{
display:flex;
flex-direction: column;
gap:var(--pd-y);
}
.auth-sections form .form-group{
display:flex;
flex-direction: column;
gap:calc(var(--base-int) / 2);
}
.auth-sections form .form-group input{
padding:calc(var(--base-int) - 5px);
background-color: var(--bg-2);
border-radius: var(--base-int);
border:none;
outline:var(--tint);
font-size:var(--small-fs);
color:var(--fg);
}

@media screen and (max-width:950px){
    #auth-body{
width: 100%;
}
.auth-sections{
    width: calc(100% - 40px);
    
}
#auth-filler{
  display:none;
}
}