@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root{
    --fg:#fff;
    --rowbg:#f7f7f;
    --bg:#000;
    --ca:#3a53a5;
    --tint:#647ccb;
    --pd-x:50px;
    --pd-y:20px;
    --mg-x:20px;
    --mg-y:20px;
    --base-int:20px;
    --small-fs:1rem;
    --tiny-fs:0.6rem;
    --xlarge-fs:2.4rem;
    --large-fs:1.4rem;
    --medium-fs:1.2rem;
    --xxlarge-fs:3rem;
    --max-full-width:1000px;
}

.alert{
    background-color: var(--tint);text-align: center;
   
}
body{
    padding:0;
    margin:0;
    font-size: var(--small-fs);
    color: var(--fg);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
#wrapper{
   margin:0 auto;
   width:99.9vw;
   max-width: var(--max-full-width);
   overflow-y: hidden;
}
h1,h2,h3,h4,h5,h6,p{
    padding:0;
    margin: 0;
}
.pd{
    padding:var(--pd-y)
}
a{
    text-decoration: none;
    color:var(--tint);
}
button{
    outline:0;
    border:none;
}
ul{
    padding:0;
}
ul li{
    list-style-type: none;
}
.flex-y{
    display:flex;
    flex-direction: column;
    gap:calc(var(--base-int));
}
.flex{
    display:flex;
    align-items: center;
    gap:calc(var(--base-int));
}
.space-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
     gap:calc(var(--base-int));
    
}

.center-x{
       display:flex; 
      justify-content: center;
}
.center-y{
    display:flex; 
    align-items:center ;
}
.text-center{
    text-align: center;
}
.dark{
    background: var(--bg);
}
#qr-code{
    position:fixed;
    padding:var(--pd-y);
    border-radius: 10px;
    right:var(--mg-y);
    bottom:var(--mg-x);
    background-color: var(--tint);
}
#qr-code i{
   position: absolute;
   right:0;
   top:0;
   font-size: var(--large-fs);
}
#qr-code p{
   margin-bottom: 5px;
   margin-top: -5px;
}
#qr-code-image{
    height:80px;
    width:80px;
    background-image: url('../images/qr-code.png');
    background-position: center;
    background-size: cover;
}
#cookie-pop{
  color:var(--bg);
  padding:calc(var(--pd-y)/2);
  position: fixed;
  bottom:0;
  left:0;
  z-index: 999999999;
  background: var(--fg); 
  width: calc(100% - var(--pd-y));
}
.curve-input-n-btn{
    width: 100%;
    display:flex;
    justify-content: center;
    border-radius: var(--base-int);
    border:1px solid var(--tint);
    overflow: hidden;
   
}
.curve-input-n-btn input{
    width: 55%;
    display:flex;
    background: transparent;
    outline:0;
    border:none;
   padding:5px 20px;
   color: var(--fg);
   font-size: var(--small-fs);
}

.curve-input-n-btn button{
    width: calc(45% - 10px);
    display:flex;
    outline:0;
    border:none;
    padding:calc(var(--base-int) / 1.5);
    background-color: var(--tint);
    font-size: var(--small-fs);
   display: flex;
   justify-content: center;
}

#body{
    margin-top: calc(40px + var(--pd-y)*2);
    overflow-y: auto;
    overflow-x: hidden;
    height: 1300px;
    padding:0;
    max-width: var(--max-full-width);
    
    /* width:100%; */
}

#nav{
    position:fixed;
    top:0%;
    left:50%;
    padding:var(--pd-y) var(--pd-x);
    background-color: var(--bg);
    height:40px;
    width:100%;
    max-width: calc(var(--max-full-width) - var(--pd-x) * 2);
    transform: translate(-50%,0);
   /* border-bottom: 1px solid #6f6b6b; */
}
#nav h2{
   margin-right: calc(var(--base-int) * 2);
}
#nav h2 img{
   height: var(--base-int);
}
.navigation a span{
    font-size:calc(var(--small-fs));
}
.submenu{
    display: none;
}
.btn{
    background-color: var(--ca);
    color:var(--fg);
    padding:calc(var(--pd-y) / 2) var(--pd-x);
    border-radius: calc(var(--pd-y) * 2);
    /* margin:var(--mg-y) var(--mg-x); */
    
}
.btn-nbg{
    background-color: transparent;
    color:var(--fg);
    border:1px solid var(--fg);
    padding:calc(var(--pd-y) / 2) var(--pd-x);
    border-radius: calc(var(--pd-y) * 2);
    /* margin:var(--mg-y) var(--mg-x); */
}
.no-mobile{
    display: block;
}
.no-desktop{
    display:none;
}

#menu{
    font-size: var(--xlarge-fs);
}
#banner{
   height: 500px;
   margin:0;
   padding:0;
}
#banner > div:first-child{
    flex-shrink: 0;
     padding:calc(var(--pd-y) * 4) var(--pd-x);
     width:calc(40% - var(--pd-x));
}
#banner > div:first-child h4{
    font-size: var(--xxlarge-fs);
    
}
#banner > div:nth-child(2){
       height: 100%;
 width:60%;
     flex-shrink: 0;
     background-image:url(../images/crypto-globe-desktop.png);
     background-size: cover;
     background-position: top right;
  padding:0;
     
}
#socials-link li a i{
   font-size: var(--large-fs);
}
#buy-crypto{
    color:var(--bg);
}
#buy-crypto h4{
    font-size: var(--xxlarge-fs);
}
@media screen and (max-width:950px){
  
  #nav {
    padding: var(--pd-y);
    width: calc(100% - var(--pd-y) * 2);
  }
.space-between.responsive,.flex.responsive{
flex-direction: column;
justify-content: flex-start;
}
.flex-y.responsive{
flex-direction: row;
justify-content: center;
}
.full-width-mobile{
    width: 100%;
}
.mobile-text-center{
  text-align: center;   
}
.no-mobile{
    display: none;
}
.no-desktop{
    display:block;
}

#socials-link{
    margin-top: var(--mg-y);
}
#banner{
    
    height: auto;
}

#banner > div:first-child{
    padding:none;
      padding:var(--pd-y);
     width:calc(100% - var(--pd-x));
}
#banner > div:nth-child(2){
       height: 300px;
   width:100%;
   padding:none;  
   background-image:url(../images/crypto-globe-mobile.png);   
}
}

.fill{
    width: 100%;
    height: 100%;
}
.full-width{
    width:100%
}